<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1>Kursübersicht Amberg:</h1>
        </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Montag</th>
          <th scope="col">Dienstag</th>
          <th scope="col">Mittwoch</th>
          <th scope="col">Donnerstag</th>
          <th scope="col">Freitag</th>
          <th scope="col">Samstag</th>
          <th scope="col">Sonntag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">08:00</th>
          <td>Spinning</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Jumping</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">09:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10:00</th>
          <td></td>
          <td>Hot Iron</td>
          <td></td>
          <td></td>
          <td>Bodystyling</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">11:00</th>
          <td></td>
          <td>Hot Iron</td>
          <td></td>
          <td></td>
          <td>Bodystyling</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">13:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">14:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td>Hot Iron</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">15:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">16:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Bodystyling</td>
        </tr>
        <tr>
          <th scope="row">17:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">18:00</th>
          <td>Spinning</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">19:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">20:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class=row>
    <div class="col">
      <div class="bottom-right">
        <button type="button" class="btn btn-primary pull-right" (click)="showStudioCoursesPage()">
          <span class="glyphicon glyphicon glyphicon-home"></span>
          Meine Kurse
        </button>
      </div>
    </div>
  </div>
</div>