<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="" id="loginForm" (keyup.enter)="getAuthTokenSimple()">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" [value]="username" (input)="username = $event.target.value" id="username" name='username' placeholder="Benutzername"/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" [value]="password" (input)="password = $event.target.value" id="password" name='password' placeholder="Passwort" (keyup.enter)="getAuthTokenSimple()"/>     
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Angemeldet bleiben?
            </label>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" (click)="getAuthTokenSimple()">Login</button>
          </div>
          <div class="form-group text-center">
            <a href="#">Passwort vergessen</a>&nbsp;|&nbsp;<a href="#">Support</a>
          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div>