nav {
    background: #094098;
    li> {
        a {
            color: #ffffff;
            &.active {
                background: rgba(255, 255, 255, 0.21);
            }
        }
    }
    .navbar-brand {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
}